/* Poppins font from Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* Header Section */
header{
  width: 90%;
  margin: 0 auto;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .title h4{
  color: #3A3A3A;
  font-size: 24px;
  font-weight: 700;
}
nav{
  text-align: center;
}
nav ul{
  display: flex;
}
nav ul li{
  list-style: none;
  margin-left: 10px;
}
nav ul li a{
  text-decoration: none;
  color: #3A3A3A;
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
}
.header_title h3{
  color: #3A3A3A;
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
}
.header_title p{
  color: #3A3A3A;
  font-size: 16px;
  font-weight: 600;
}
.header_title button{
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  border-radius: 41px;
  background: #E02C6D;
  gap: 10px;
  padding: 10px 24px;
}
.header_title{
  width: 50%;
}
.main_header{
  display: flex;
  justify-content: space-between;
}
.header_logo img{
  width: 440px;
  height: 414px;
  background-image: url('../images/Circle\ design.svg');
  background-repeat: no-repeat;
}
/* Main Section Start */
.brand{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.card{
  width: 100px;
  height: 100px;
}
.Collection h2{
  color: #3A3A3A;
  font-size: 28px;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
}
.collection_item .collection_card img{
  width: 250px;
  height: 206px;
  padding-top: 10px;
}
.collection_card h4{
  color: #18191F;
  font-size: 28px;
  font-weight: 500; 
}
.collection_card h5{
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 400;
}
.collection_card p{
  color: #787885;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.252px;
  margin-top: 0;
}
.collection_card{
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.collection_item{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  gap: 20px;
  text-align: center;
  line-height: 15px;
}
.Collection{
  width: 80%;
  margin: 0 auto;
}

/* Media Quari for Small devise */
@media screen and (max-width:576px) {
  .navbar , .main_header{
    flex-direction: column;
  }
  header{
    text-align: center;
  }
  .main_header{
    flex-direction: column-reverse;
  }
  .header_title{
    width: 100%;
  }
  .header_logo img{
    width: 202px;
    height: 190px;
  }
  .brand{
    flex-wrap: wrap;
  }
  .collection_item{
    grid-template-columns: 1fr;
  }
}